<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Moviment manual</title>
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
</head>

<body>
    <h1> Enviant moviment manual:
        <%= POS %>
    </h1>

</body>

</html>